# AWS credentials and environment files
.aws/
.env
*.env

# Local data outputs
data/error/
data/processed/
__pycache__/
data/*.parquet

# Python artifacts
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Log files
logs/
*.log

# OS-specific
.DS_Store
Thumbs.db